#contact {
    height: 100vh;
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    gap: 2rem;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        padding-inline: 4rem;
    }

    header :first-child {
        color: var(--second-text-color);
        font-weight: var(--fw-bold);
    }

    p {
        color: var(--second-text-color);
    }

    span {
        display: flex;
        align-items: center;
        flex-direction: column;

        .input{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

@keyframes swipe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (width >=580px) {
    #contact {
        gap: 5rem;
        align-items: center;

        header p {
            width: 60%;
        }


        .contact {
            width: 80%;
        }

    }
}