footer{
    box-shadow: 0px 5px 35px var(--second-text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main{
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--light-gray);
}


#footer_content{
    background-color: var(--primary-color);
    display: flex;
    padding: 3rem 3.5rem;
    justify-content: center;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .textos{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        margin-bottom: 1rem;
    }

    .textos a{
        color: var(--light-gray);
        margin-top: 5px;
    }

}

#footer_contacts h1{
    margin-bottom: 0.75rem;
    color: var(--light-gray);
}

#footer_social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#footer_social_media .footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--light-gray);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background-color: #ffffff;
}

#tiktok{
    background-color: #ffffff;
}

#youtube{
    background-color: #ffffff;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 90%;
    font-size: 0.9rem;
    padding: 0.4rem;
    font-weight: 100;
    border-radius: 10px;
    margin-bottom: -48px;
    width: 1920px;
}

@media screen and (max-width: 768px){
    #footer_content{
        gap: 2rem;

        .textos{
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 426px){
    #footer_content{
        padding: 3rem 2rem;
        
        max-width: 500px;

        .textos{
            flex-direction: column;
        }
    }
}