#mecanica {
  background: var(--light-gray);
  border-top: 0.125rem solid #e4e4e4;
  padding: 50px 0;
}

#mecanica div {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

#mecanica .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto; 
  margin-top: 30px;
  padding-bottom: 20px;
}

#mecanica .card {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 0 auto; 
}

#mecanica .card h3 {
  font-size: 1.4em;
  color: #2d3e50;
}

#mecanica .card p {
  font-size: 1em;
  color: #7a889e;
}

@media (max-width: 768px) {
  #mecanica .card {
      min-width: 250px;
  }
  #mecanica div h1 {
      font-size: 1.5em;
  }
  #mecanica div p {
      font-size: 1em;
  }
}
