#redes-sociais{
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 4rem;

    header{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

        :first-child {
            color: var(--second-text-color);
            font-weight: var(--fw-bold);
        }
    }

    .pricing-card{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-self: center;
        height: min-content;
        padding: 1.5rem 1.5rem 3rem 1.5rem;
        background-color: var(--light-gray);
        border-radius: 1.5rem;
        box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;

        .hr{
            height: 1px;
            background-color: var(--primary-color);
            margin-block: 0.725rem;
        }

        .features{
            display: grid;
            gap: 1rem;
            
            li{
                display: flex;
                gap: 1.5rem;
            }
        }

        .plan{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .price {
            display: flex;
            align-items: end;

            p {
                margin-left: 8px;
                padding-bottom: 4px;
            }
        }
    }

    .premium{
        border: solid 0.2rem var(--primary-color);
        padding: 0rem 1.5rem 3rem 1.5rem;

        plan > h3 {
            color: var(--primary-color);
        }
        
        .bonus{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-color);
            width: 65%;
            height: 2.5rem;
            align-self: center;
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;

            p {
                font-size: 12px;
                font-weight: var(--fw-md);
                color: var(--light-text-color);
            }
        }
    }
    
    @media (width >= 1280px) {
        #pricing {
          gap: 5rem;
          padding-block: 5rem;
        }
      
        h3 {
          font-size: 1.25rem;
        }
      }
}